/* Responsive Styles */
/* Mobile Devices (up to 767px) */
@media (max-width: 768px) {
  body {
    width: 100px;
  }
  /* Header and Navigation */
  .header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 12px;
  }
  .container {
    flex-direction: row;
    width: 250%;
    height: 50%;
    /* padding: 12px; */
  }

  .main-navigation ul {
    flex-direction: row;
    gap: 2px;
    padding: 5px;
  }

  .main-navigation ul li a {
    padding: 5px;
    font-size: 10px;
    display: block;
    text-align: center;
  }

  .logo img {
    margin-bottom: 45px;
    gap: 5rem;
  }

  /* Intro Section */
}
/* * Desktop Layout (1024px+) */
@media (min-width: 1024px) {
  .intro {
    width: 100%;
  }
  .text-overlay {
    padding: 1rem;
  }

  .text-overlay h2 {
    font-size: 4.5rem;
  }
}

/* Large Desktop (1200px+) */
@media (min-width: 1200px) {
  .img img {
    max-width: 900px;
    /* margin: 0 auto; */
  }
}

/* Mobile Adjustments */
@media (max-width: 480px) {
  .img img {
    height: 100px;
  }

  .text-overlay {
    display: flex;
    flex-direction: column;
    /* translate: transform(3%, -65%); */
    color: #67523f;
    margin-left: 650px;
    width: 150px;
  }

  .text-overlay h2 {
    /* display: block; */
    width: 300px;
    font-size: 0.5rem;
    line-height: 0.5;
  }
  .text-overlay b {
    display: block;
    margin: 10px 0;
    width: 300px;
    line-height: 0.8;
    color: #67523f;
    font-size: 1rem;
  }
  .text-overlay p {
    display: block;
    font-size: 1rem;
    color: var(--pr-nav-color);
    margin: 10px 0 20px;
    width: 300px;
    line-height: 1;
    font-size: 6px;
  }
  .read-more {
    padding: 10px 20px;
    background-color: var(--pr-nav-color);
    color: #fff;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  .read-more:hover {
    background-color: var(--pr-hvr-color);
  }
}
/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .icons-msg {
    flex-direction: column;
    gap: 40px;
    /* align-items: center; */
    align-items: self-start;
  }

  .icons-links {
    width: 100px;
    height: 100px;
    padding: 0 0 0 260px;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    /* margin-left: 650px; */
    justify-content: center;
    gap: 8rem;
  }
  #box2{
    padding: 2rem;
    gap: 0 0 0 8rem;
  }
  #box3{
    padding: 0 0 0 6rem;
    gap: 0 0 0 6px;
  }

  .box-conatiner {
    width: 50%;
  }

  .box-conatiner div {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .icons-links img {
    width: 60px;
    height: 60px;
  }

  .box-conatiner p {
    font-size: 0.9rem;
  }
}
