* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pr-bg-color: #f6d55b;
  --pr-nav-color: #67523f;
  --pr-hvr-color: #ff5722;
  --pr-orgbg-color: #ff703c;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--pr-bg-color);
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--pr-bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--pr-nav-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--pr-orgbg-color);
}

/* all similar content styling codes */
section {
  padding: 50px 0;
}

.max-width {
  max-width: 1350px;
  margin: auto;
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 15px 0;
  background: var(--pr-bg-color);
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: var(--pr-nav-color);
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: #fff;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: var(--pr-hvr-color);
  gap: 5px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: var(--pr-nav-color);
}

.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* menu btn styling */
.menu-btn {
  color: var(--pr-nav-color);
  height: 10px;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: var(--pr-nav-color);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: var(--pr-hvr-color);
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* Intro Section */
.intro {
  width: 100%;
  max-width: 1351px;
  background-position: center;
  margin-top: 30px;
  position: relative;
}

.intro .img {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40rem;
  min-height: 200px;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-10%, -50%);
  text-align: center;
  width: 90%;
  max-width: 600px;
}

.text-overlay h1 {
  color: #ff5722;
  font-size: 2.5rem;
}

.text-overlay h2 {
  font-size: 3.5rem;
  color: #67523f;
  margin-top: -10px;
}

.text-overlay p {
  margin: 20px auto;
  width: 80%;
}

/* button styling */
.read-more {
  padding: 12px 24px;
  background-color: var(--pr-nav-color);
  color: #fff;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.read-more:hover {
  background-color: var(--pr-hvr-color);
  color: var(--pr-nav-color);
}

/* Icons Section */
.icons-msg {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 8px;
}

.icons-links {
  display: flex;
  justify-content: center;
  gap: 6rem;
  flex-wrap: wrap;
}

#img1:hover,
#img2:hover,
#img3:hover {
  transform: scale(1.05);
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.box-container div {
  flex: 1 1 350px;
  max-width: 260px;
  padding: 20px;
  background-color: #67523f;
  color: #f6d55b;
  border-radius: 10px;
}

/* Promo Section Styles */
.max-width {
  max-width: 1350px;
  margin: 0 auto;
}

.img-container {
  width: 100%;
  margin-top: 30px;
  position: relative;
}

.imgs {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 10rem; /* Default height */
  min-height: 200px;
}

.text-overlay-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.promo {
  padding: 12px 24px;
  background-color: var(--pr-nav-color);
  color: #fff;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 16px;
}

.promo:hover {
  background-color: var(--pr-bg-color);
  color: var(--pr-nav-color);
}

/* Media Queries for Responsive Adjustments */

/* For tablets (768px to 992px) */
@media (max-width: 992px) {
  .imgs {
    height: 8rem;
  }
  
  .promo {
    padding: 10px 20px;
    font-size: 15px;
  }
}

/* For large phones (576px to 768px) */
@media (max-width: 768px) {
  .imgs {
    height: 7rem;
  }
  
  .text-overlay-2 {
    transform: translate(-50%, -60%);
  }
  
  .promo {
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* For small phones (up to 576px) */
@media (max-width: 576px) {
  .img-container {
    margin-top: 20px;
  }
  
  .imgs {
    height: 6rem;
    min-height: 150px;
  }
  
  .promo {
    padding: 6px 12px;
    font-size: 13px;
  }
}

/* For very small phones (up to 400px) */
@media (max-width: 400px) {
  .imgs {
    height: 5rem;
  }
  
  .promo {
    padding: 5px 10px;
    font-size: 12px;
  }
}
.promo:hover {
  background-color: var(--pr-bg-color);
  color: var(--pr-nav-color);
}

.image {
  margin: 0;
  padding: 0;
}

.image {
  display: block;
  width: 1320px;
  height: auto;
  text-align: center;
  border-radius: 12px;
}

.buger {
  max-width: 100%;
  height: 250px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.buger:hover {
  transform: scale(1.05);
}

.para {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  color: #4a2f1c;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.1;
  text-align: justify;
  background-color: var(--pr-bg-color);
}

.text-overlay-3 {
  position: absolute;
  text-align: center;
  margin-left: 400px;
  top: 13%;
  left: 40%;
  transform: translate(-70%);
  color: #67523f;
  width: 100%;
  height: 40px;
}

.text-overlay-3 h2 {
  font-size: 3.6rem;
  color: #ff5722;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  line-height: 1;
}

.text-overlay-3 h3 {
  font-size: 5.5rem;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 0.7;
}

.imge {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 10rem;
  min-height: 200px;
}

.para-2 {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: #4a2f1c;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.1;
  text-align: justify;
  background-color: var(--pr-bg-color);
}

/* fries start */
.fries{
  display: flex;
  gap: 8rem;
  margin: 20px auto;
  .fries .image{
    flex: 1;
  }
  .image img{
    height: 500px;
    width: 150%;
    object-fit: cover;
  }
  .content{
    margin-top: 5rem;
    margin-right: 0 50px 0 0;
    h2{
      font-size: 3.6rem;
      color: #ff5722; /* orange for h1*/
      line-height: 1.3;
    }
    p{
      width: 100%;
      text-align: left;
      padding: 0 210px 0 0;
      margin-right: 80%;
      line-height: 1.5;
      height: 100px;
      margin: 0;
    }
  }
}
/* Services section */
#services {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--pr-bg-color);
}

#services .images {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#services .images .offer {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

#services .text-overlay-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--pr-orgbg-color);
  width: 80%;
  max-width: 600px;
  margin: 0;
  padding: 0;
}

#services .text-overlay-4 h2,
#services .text-overlay-4 h3 {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

#services .text-overlay-4 h2,
#services .text-overlay-4 h3,
#services .text-overlay-4 h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
}

#services .text-overlay-4 h2 {
  font-size: 5.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

#services .text-overlay-4 h3 {
  font-size: 5rem;
  font-weight: bold;
  color: var(--pr-nav-color);
  margin-left: 10px;
}

#services .text-overlay-4 h4 {
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 0.5;
  padding: 0;
  color: var(--pr-nav-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0;
}

#services .text-overlay-4 .heading-wrapper {
  white-space: nowrap;
}

/* Swiper */
.swiper {
  background-color: var(--pr-nav-color);
  width: 100%;
  padding: 30px 0;
}

.swiper-slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.offer-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.offer-item b {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--pr-nav-color);
  width: 40px;
  height: 40px;
  background: var(--pr-hvr-color);
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
  font-weight: bold;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: var(--pr-bg-color);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #ff0000;
}

/* Banner */
.banner {
  display: flex;
  gap: 1rem;
  background-color: var(--pr-bg-color);
  overflow: hidden;
  width: 100%;
  height: 300px;
  max-width: 1350px;
  align-items: center;
  text-align: center;
}

.banner .images {
  flex: 2;
  height: 140%;
}

.banner .images img.offer22 {
  width: 100%;
  height: 99%;
  display: block;
}

.banner .dscunt {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--pr-orgbg-color);
  height: 400px;
  width: 400px;
  text-align: center;
  align-items: center;
  padding: 2rem;
}

.banner .dscunt h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;
  color: var(--pr-nav-color);
  letter-spacing: 0.2;
}

.banner .dscunt b {
  margin: 0.5rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 800;
  color: var(--pr-nav-color);
  letter-spacing: 0.2;
}

.banner .dscunt p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: var(--pr-nav-color);
}

/* Contact section */
#contact {
  padding: 60px 20px;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #5a3d2b;
}

.contact-us {
  max-width: 600px;
  margin: 0 auto;
}

.contact-us h2 {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
}

.contact-us h3 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #ff6a3d;
  line-height: 0.2;
}

.contact-us b {
  display: block;
  font-size: 18px;
  text-align: center;
  line-height: -2;
  margin: 50px 0 10px;
  text-transform: uppercase;
}

.search-conatiner {
  background-color: #ff9138;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto 20px;
  border: 4px solid #ffd24d;
}

.search-conatiner input[type="search"] {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  font-size: 16px;
  color: #000;
}

.search-conatiner .icon {
  font-size: 20px;
  color: #5a3d2b;
  margin-left: 10px;
}

.contact-us p {
  font-size: 14px;
  color: #5a3d2b;
  margin-top: 10px;
  line-height: 1.5;
}
footer{
  background-color: var(--pr-nav-color);
}
/* Footer section */
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 60px 0 0 0;
  gap: 2rem;
  text-align: center;
  padding: 60px;
}

.col1 {
  list-style: none;
}

.col1 b {
  font-size: 22px;
  color: var(--pr-hvr-color);
  display: block;
  margin-bottom: 8px;
}

.col1 p {
  text-align: justify;
}

.col1 p,
.col1 ul li {
  font-size: 22px;
  color: var(--pr-bg-color);
  margin-bottom: 6px;
  list-style: none;
}

.pa p {
  line-height: 0.2;
  text-align: center;
  align-items: center;
  font-size: 32px;
  font-weight: normal;
}

.icons {
  display: flex;
  background-color: var(--pr-nav-color);
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  /* margin: 30px 0; */
}

.social-link {
  color: #555;
  background-color: var(--pr-hvr-color);
  font-size: 24px;
  transition: all 0.3s ease;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgba(255, 255, 255, 0.2); */
}

.social-link:hover {
  transform: translateY(-5px);
  color: white;
}

.fa-facebook:hover {
  background: #1877f2;
}

.fa-whatsapp:hover {
  background: #25d366;
}

.fa-twitter:hover {
  background: #1da1f2;
}

.fa-instagram:hover {
  background: #e1306c;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .text-overlay {
    left: 80%;
    transform: translate(-50%, -50%);
  }
  .icons-links {
    gap: 4rem;
  }
  
  .box-container {
    gap: 30px;
  }
  
  .box-container div {
    max-width: 220px;
    padding: 15px;
  }

  .text-overlay-2,
  .text-overlay-3 {
    margin-left: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .fries {
    gap: 4rem;
  }

  .fries .content p {
    padding: 0 100px 0 0;
  }
}

@media (max-width: 992px) {
  .navbar .menu li a {
    margin-left: 15px;
    font-size: 16px;
  }

  .intro .img {
    height: 35rem;
  }

  .text-overlay h1 {
    font-size: 2rem;
  }

  .text-overlay h2 {
    font-size: 3rem;
  }
  .icons-links {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  
  .box-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  
  .box-container div {
    max-width: 100%;
  }
  
  /* Center the odd item in 2-column layout */
  .box-container div:last-child:nth-child(odd) {
    grid-column: 1 / -1;
    max-width: 250px;
    justify-self: center;
  }
  .fries {
    flex-direction: column;
    gap: 2rem;
  }

  .fries .content {
    margin-top: 2rem;
    text-align: center;
  }

  .fries .content p {
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }

  .banner {
    flex-direction: column;
    height: auto;
  }

  .banner .images {
    flex: 1;
    height: auto;
  }

  .banner .dscunt {
    width: 100%;
    height: auto;
    padding: 1.5rem;
  }

  #services .text-overlay-4 h2 {
    font-size: 4.5rem;
  }

  #services .text-overlay-4 h3 {
    font-size: 4rem;
  }

  #services .text-overlay-4 h4 {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: var(--pr-bg-color);
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
    margin: 25px 0;
  }

  .navbar .menu li a {
    font-size: 23px;
    margin-left: 0;
  }

  .intro .img {
    height: 30rem;
  }

  .text-overlay h1 {
    font-size: 1.8rem;
  }

  .text-overlay h2 {
    font-size: 2.5rem;
  }

  .text-overlay p {
    width: 90%;
  }
  .icons-msg {
    padding: 0 10px;
  }
  
  .icons-links {
    gap: 2rem;
  }
  
  .box-container {
    gap: 20px;
  }
  .box-container div {
    flex: 1 1 300px;
  }

  .footer {
    grid-template-columns: 1fr;
    padding: 30px;
  }

  .col1 p,
  .col1 ul li {
    font-size: 18px;
  }

  .pa p {
    font-size: 28px;
  }

  #services .text-overlay-4 h2 {
    font-size: 3.5rem;
  }

  #services .text-overlay-4 h3 {
    font-size: 3rem;
  }

  #services .text-overlay-4 h4 {
    font-size: 2.5rem;
  }

  .contact-us h2 {
    font-size: 48px;
  }

  .contact-us h3 {
    font-size: 28px;
  }
}

@media (max-width: 576px) {
  .intro .img {
    height: 25rem;
  }

  .text-overlay h1 {
    font-size: 1.5rem;
  }

  .text-overlay h2 {
    font-size: 2rem;
    margin-top: 0;
  }

  .text-overlay-3 h2 {
    font-size: 2.5rem;
  }

  .text-overlay-3 h3 {
    font-size: 4rem;
  }

  .box-container div {
    flex: 1 1 250px;
    padding: 15px;
  }

  .fries .content h2 {
    font-size: 2.8rem;
  }

  #services .text-overlay-4 h2 {
    font-size: 2.5rem;
  }

  #services .text-overlay-4 h3 {
    font-size: 2rem;
  }

  #services .text-overlay-4 h4 {
    font-size: 1.8rem;
  }

  .contact-us h2 {
    font-size: 36px;
  }

  .contact-us h3 {
    font-size: 24px;
  }

  .search-conatiner {
    max-width: 300px;
  }

  .icons {
    gap: 15px;
  }

  .social-link {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .navbar .logo a {
    font-size: 35px;
  }
  .text-overlay {
    right: 60%;
    bottom: -20%;
  }
  .intro .img {
    height: 60rem;
    width: 60rem;
  }

  .text-overlay h1 {
    font-size: 3.2rem;
  }
  .text-overlay b {
    font-size: 28px;
    line-height: -1;
    font-weight: normal;
  }
  .text-overlay h2 {
    font-size: 2.9rem;
  }

  .text-overlay p {
    font-size: 28px;
  }

  .read-more,
  .promo {
    padding: 30px 60px;
    font-size: 28px;
  }
  .icons-links {
    grid-template-columns: 3fr;
    gap: 1.5rem;
  }
  
  .box-container {
    grid-template-columns: 3fr;
    gap: 15px;
  }
  
  .box-container div {
    max-width: 100%;
  }
  
  /* Remove centering for single column layout */
  .box-container div:last-child:nth-child(odd) {
    grid-column: auto;
    max-width: 100%;
    justify-self: stretch;
  }
  .img-container{
    width: 350%;
    height: 5rem;
  }
  .promo{
    top: 10%;
  }
  .text-overlay-3 h2 {
    font-size: 2rem;
  }

  .text-overlay-3 h3 {
    font-size: 3rem;
  }

  .contact-us h2 {
    font-size: 30px;
  }

  .contact-us h3 {
    font-size: 20px;
  }

  .search-conatiner {
    padding: 8px 15px;
  }
}
